a {
	text-decoration: none;
}

h2 {
	text-transform: uppercase;
}

/* resume-left */
.resume-left {
    background-color: var(--left-bg);
    color: var(--left-color);
    font-weight: 500;
    height: 100%;
    padding: 1.25rem;
}

.resume-left h2 {
    color: var(--left-h2);
    font-size: 1.2rem;
    margin-top: 1.25rem;
    padding: 0.625rem 0;
}

.resume-left p {
    font-size: 1.1rem;
}

.resume-left hr {
    border: 0.0625rem solid var(--left-hr);
    border-radius: 0.625rem;
    margin-top: 1.875rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}

/* resume-left languages */
.front-end,
.back-end,
.languages,
.front-end-lang,
.back-end-lang,
.lang {
    display: flex;
    flex-direction: column;
}

.front-end-lang p,
.back-end-lang p,
.lang p {
    font-size: 0.9rem;
    padding: 0.3125rem;
    text-transform: uppercase;
}
