@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

* {
	box-sizing: border-box;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	/* font-family: 'Questrial' , 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif; */
	/* font-family: 'Roboto Mono', monospace; */
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.2rem;
	height: 100vh;
	overflow-x: hidden;
	width: 100vw;
}

main {
	padding: 0.625rem;
}

header {
	text-align: center;
}

h1 {
	color: rgb(73, 109, 155);
	font-size: 1.7rem;
	text-transform: uppercase;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.resume-container {
	display: grid;
	grid-template-columns: 22% auto;
	/* grid-template-columns: repeat(auto-fill, minmax(20%, auto)); */
}

#h1-hr {
	border-bottom: 0.125rem solid rgb(221, 135, 23);
	margin: auto;
	width: 30%;
}

#first a {
	color: rgb(80, 25, 230);
	font-size: 1.1rem;
	font-style: italic;
	font-weight: bold;
}

#first p {
	padding-top: 0.3125rem;
}

@media only screen and (max-width: 500px) {
	* {
		font-size: 0.8rem;
    }
    
    .resume-container {
        display: grid;
        grid-template-columns: 35% auto;
	}

	main {
		padding-top: 0.9375rem;
	}

	header {
		text-align: left;
	}

	h1 {
		font-size: 1.2rem;
	}

	#h1-hr {
		width: 50%;
	}

	#first {
		padding-top: 0.625rem;
	}

	#first a {
		font-size: 0.9rem;
	}

	/* resumeLeft */

	.resume-left h2{
		font-size: 1rem;
		margin-top: 0;
	}
	
	.resume-left p,
	.personal a  {
		font-size: 0.9rem;
	}

	.front-end-lang p,
	.back-end-lang p,
	.lang p {
		font-size: 0.8rem;
	}

	.side-line,
	.fill-in {
		height: 0.625rem;
	}

	.fill-in {
		font-size: 0.7rem;
	}

	/* resumeRight */

	.nav-item {
		position: fixed;
		right: 1.25rem;
		top: 3.4375rem;
	}

	h3,
	.h2-experience {
		font-size: 1rem;
	}

	h4 {
		font-size: 0.8rem;
	}

	.move-up-hr {
		display: none;
	}

	.projects p:nth-of-type(1),
	.degrees p:nth-of-type(1) {
		font-size: 0.8rem;
	}
	
	.projects p:nth-of-type(2) {
		font-size: 0.8rem;
	}
	
	.degrees p:nth-of-type(2) {
		font-size: 0.8rem;
	}
	
	.projects p:nth-of-type(3) {
		font-size: 0.8rem;
	}
	
	.projects-container,
	.education-container {
		display: flex;
		flex-direction: column;
		padding: 0.3125rem;
	}
}
