#resume-right-container {
    color: rgb(73, 109, 155);
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    /* width: 100%; */
}

#resume-right-container h2,
#resume-right-container h3 {
    padding: 20px 0;
}

.nav-item {
    font-size: 1.1rem;
    position: fixed;
    top: 10px;
    right: 20px;
}

.link-item {
    background: rgba(212, 209, 210, 0.5);
    color: rgb(75, 64, 17);
    padding: 10px;
    text-transform: uppercase;
}

.link-item:hover,
.link-item:focus {
    background: rgb(191, 227, 241);
    color: rgb(221, 135, 23);
}

.nav-item > .active {
    /* border-bottom: 2px solid rgb(102, 109, 8); */
    /* border-bottom: 2px solid rgb(139, 102, 114); */
    border-bottom: 2px solid rgb(221, 135, 23);
}

#first {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
}

#first hr {
    border-bottom: 2px solid rgb(73, 109, 155);
    margin-top: -20px;
    width: 30%;
}

#first p {
    margin-top: 10px;
}

#first a {
    color: rgb(102, 109, 8);
}

.to-top-button {
    background: rgba(212, 209, 210, 0.5);
    border: 1px solid rgb(73, 109, 155);
    border-radius: 50%;
    color: rgb(75, 64, 17);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 5px;
    position: fixed;
    text-transform: uppercase;
    top: 92%;
    right: 20px;
    outline: none !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.to-top-button:hover,
.to-top-button:focus {
    /* background: rgb(162, 205, 221); */
    background: rgb(191, 227, 241);
    /* color: #fff; */
    color: rgb(221, 135, 23);
}

.left-section {
    float: left;
    /* padding-top: 20px; */
    padding-top: 10px;
    width: 25%;
}

.project-description {
    font-size: 1.1rem;
    padding: 30px 10px 0px 20px;
    /* max-width: 400px; */
    width: 75%;
}

.project-description h4 {
    color: rgb(165, 170, 96);
    font-size: 1rem;
    text-transform: uppercase;
}

#projects-container,
#education-container {
    display: flex;
    /* width: 100%; */
}

.degrees {
    padding: 10px 0;
}

.projects p,
.degrees p {
    padding-left: 20px;
}

.projects p:nth-of-type(1),
.degrees p:nth-of-type(1) {
    color: rgb(102, 109, 8);
    font-size: 0.9rem;
    font-weight: 500;
}

.projects p:nth-of-type(2) {
    font-size: 1rem;
    text-transform: capitalize;
}

.degrees p:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: 600;
}

.projects p:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.project-first-p {
    padding-top: 20px;
}

#second a {
    color: rgb(102, 109, 8);
}

#second hr,
#third hr {
    margin: 20px 0;
}
