#resume-right-container {
    color: rgb(73, 109, 155);
}

.nav-item {
    background: rgba(212, 209, 210, 0.5);
    background: rgba(211, 237, 247, 0.5);
    /* border: 1px solid red; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    /* padding: 5px; */
    position: fixed;
    right: 20px;
    top: 20px;   
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.link-item {
    color: rgb(75, 64, 17);
    outline: none !important;
    padding: 10px;
    text-transform: uppercase;
}

.link-item:hover,
.link-item:focus {
    /* background: rgb(191, 227, 241); */
    /* background: rgb(201, 227, 238); */
    background: rgba(201, 227, 238, 0.8);
    border-radius: 20px;
    /* color: rgb(221, 135, 23); */
    color: rgb(230, 117, 25);
    color: rgb(143, 17, 80);
    /* color: rgb(25, 49, 94);
    color: rgba(25, 49, 94, 0.5); */
    cursor: pointer;
    font-weight: bolder;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.nav-item > .active {
    border-bottom: 2px solid rgb(230, 117, 25);
    font-weight: bold;
}

/* ------------------------------------- */

h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

#second,
#third {
    margin: 10px;
}

#second a {
    /* color: rgb(102, 109, 8);
    color: rgb(1, 2, 24);
    color: rgb(221, 135, 23);
    color: rgb(230, 117, 25);
    color: #A55584; */
    color: rgb(230, 117, 25);
    font-weight: bold;
}

#second a:hover,
#second a:focus {
    text-decoration: underline;
}

.projects-container,
.education-container {
    display: grid;
    grid-template-columns: 22% auto;
    padding: 10px;
}

.move-up-hr {
    margin-top: -30px;
}

.move-top-padding {
    padding-top: 20px;
}

.left-section p {
    padding-top: 5px;
}

.left-section hr {
    margin-top: 5px;
}

.project-description,
.education-description {
    font-size: 1.1rem;
    margin: 0px 10px;
    padding: 5px;
}

.projects p:nth-of-type(1),
.degrees p:nth-of-type(1) {
    /* color: rgb(102, 109, 8);
    color: rgb(233, 116, 48);
    color: rgb(1, 2, 24); */
    color: #A55584;
    font-size: 0.9rem;
    font-weight: bold;
}

.projects p:nth-of-type(2) {
    font-size: 1rem;
    text-transform: capitalize;
}

.degrees p:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: 600;
}

.projects p:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* to top button */
.to-top-button {
    background: rgba(212, 209, 210, 0.5);
    border: 2px double rgb(83, 118, 163);
    border-radius: 50%;
    color: rgb(230, 117, 25);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 5px;
    position: fixed;
    bottom: 5%;
    text-transform: uppercase;
    right: 20px;
    outline: none !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.to-top-button:hover,
.to-top-button:focus {
    /* background: rgb(191, 227, 241); */
    background: rgb(201, 227, 238);
    color: rgb(221, 135, 23);
    cursor: pointer;
}
