a {
	text-decoration: none;
}

h2 {
	text-transform: uppercase;
}

/* resume-left */
.resume-left {
    background-color: rgb(25, 49, 94);
    color: rgb(238, 237, 237);
    font-weight: 500;
    height: 100%;
    padding: 1.25rem;
}

.resume-left h2 {
    color: rgb(230, 117, 25);
    font-size: 1.2rem;
    margin-top: 1.25rem;
    padding: 0.625rem 0;
}

.resume-left p {
    font-size: 1.1rem;
}

.personal a {
    color: rgb(11, 172, 247);
    text-decoration: none;
}

.resume-left hr {
    border: 0.0625rem solid rgb(102, 109, 8);
    border-radius: 0.625rem;
    margin-top: 1.875rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}

/* resume-left languages */
.front-end,
.back-end,
.languages,
.front-end-lang,
.back-end-lang,
.lang {
    display: flex;
    flex-direction: column;
}

.front-end-lang p,
.back-end-lang p,
.lang p {
    font-size: 0.9rem;
    padding: 0.3125rem;
    text-transform: uppercase;
}

.side-line {
    background-color: rgb(187, 182, 182);
    border-radius: 1.875rem;
    display: flex;
    height: 0.9375rem;
    margin-top: 0.3125rem;
    position: relative;
    width: 100%;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    -o-border-radius: 1.875rem;
}

.fill-in {
    align-items: center;
    background: rgb(7, 96, 138);
    border-radius: 1.875rem;
    color: rgb(248, 245, 245);
    display: flex;
    font-size: 0.8rem;
    height: 0.9375rem;
    justify-content: center;
    position: absolute;
    transition: 3s ease;
    width: 50%;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    -o-border-radius: 1.875rem;
}

.fill-90 {
    width: 90%;
}

.fill-80 {
    width: 80%;
}

.fill-70 {
    width: 70%;
}

.fill-60 {
    width: 60%;
}
